node_modules/
dist/
*.log
.DS_Store
**/.DS_Store
.env
.env.local
coverage/
*.tsbuildinfo
.idea/
# Runtime fixture manifests written by scaffold_sample_data for teardown — not committed content.
data/fixtures/
.AppleDouble
.LSOverride
._*
.sf/
